<!DOCTYPE html>
<html>
<head>
<style>

#p {

  color: red;
  font-family: courier;
  font-size: 160%;
}

#myHeader {
  background-color:tomato;
  color: black;
  font-family: courier;

}

#moo{
text-align:center;
}


#photo
{
text-align:center;
}


#html
{
style="font-size:1.8vw;"
}

#ll
{
  border:2px solid  red;


}
</style>
</head>
<body>



</body>
</html>